.github/actions/collect_data/venv/*
.vscode/*
*.pyc
.github/actions/collect_data/pipeline_*.json
.github/actions/collect_data/test/data/tt_torch_models/models/**
.github/actions/collect_data/generated/**
.github/actions/collect_data/.coverage
.github/actions/collect_data/pytest-coverage.txt
.github/actions/collect_data/pytest.xml
.env
.github/actions/collect_data/*.jsonl

.github/actions/show_telemtery/*.out
.github/actions/show_telemtery/*.log
.github/actions/show_telemtery/telemetry/

venv*
